body {
  font-family: 'Oswald', sans-serif;
  position: relative;
  min-width: 320px;
  width: 99%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  background-image: radial-gradient(circle, #35ddff, rgba(255, 114, 230, 0.3)); }

.welcome__video-wrapper {
  max-width: 100%; }

video {
  opacity: 0.1;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  height: 70vh; }

a {
  text-decoration: none; }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; }

@media (max-width: 767px) {
  .about {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .about .about__text {
      max-width: 100%; } }

@media (max-width: 1024px) {
  body {
    width: 99%; } }

.welcome {
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }
  .welcome a {
    position: absolute;
    top: 50px;
    z-index: 2; }
  .welcome__title {
    z-index: 2; }
  .welcome__paragraph {
    z-index: 2; }
  .welcome__select-btn {
    height: 70px;
    z-index: 2; }

.about {
  background: rgba(255, 255, 255, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .about__text {
    max-width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 20px; }
  .about__img {
    max-width: 50%;
    width: 100%;
    height: auto;
    padding: 30px; }

.bears {
  background: rgba(255, 255, 255, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .bears__figure {
    margin: 0 auto; }
  .bears__img {
    max-width: 320px; }
