body {
  font-family: 'Oswald', sans-serif;
  position: relative;
  min-width: 320px;
  width: 99%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  background-image: radial-gradient(circle, #35ddff, rgba(255, 114, 230, 0.3));
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 73px;
  letter-spacing: 12px;
  color: #ffffff;
  text-shadow: 1px 1px 2px #ffabc3, 0 0 1em #aae5ff;
  @media (max-width: 767px) {
    font-size: 43px;
    letter-spacing: 7px;
  }
  @media (max-width: 425px) {
    font-size: 25px;
  }
}

h2 {
  font-size: 37px;
  line-height: 35px;
  @media (max-width: 767px) {
    font-size: 34px;
  }
  @media (max-width: 425px) {
    font-size: 18px;
  }
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

@media (min-width: 320px) {
  body {
    //max-width: 320px;
  }
}

@media (max-width: 767px) {
  .about {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    .about__text {
      max-width: 100%;
    }
    .about__img {
      max-width: 100%;
      padding: 0;
    }
  }
}

@media (max-width: 1024px) {
  body {
    width: 99%;
  }
}

.welcome {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__tel {
    font-size: 30px;
    position: fixed;
    text-shadow: 1px 1px 27px #732e29, 0 0 3em #ffffff;
    top: 35px;
    z-index: 3;
    background: #000000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    min-height: 35px;
    @media (max-width: 767px) {
      font-size: 20px;
      top: 15px;
      letter-spacing: 5px;
    }
  }
  &__title {
    z-index: 2;
    padding: 60px 0 0;
  }
  &__paragraph {
    z-index: 2;
  }
  &__select-btn {
    height: 70px;
    z-index: 2;
  }
  .welcome__video-wrapper {
    max-width: 100%;
  }
  video {
    opacity: 0.3;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
    height: 70vh;
  }
}

.about {
  background: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: space-between;

  &__text {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
  }

  &__img {
    max-width: 50%;
    width: 100%;
    height: auto;
    padding: 30px;

  }
  &__title {

  }
  &__paragraph {

  }
}

.bears {
  background: rgba(255, 255, 255, 1);
  &__block {
    display: flex;
    flex-wrap: wrap;
  }
  &__title {
    margin: 0;
    padding: 40px 0 20px;
    text-align: center;
  }
  &__figure {
    margin: 0 auto;
    padding: 5px 0 35px;
  }
  &__img {
    max-width: 320px;
  }
  &__name {

  }
  &__price {

  }

}

.btn {
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.5);
  color: #434445;
  border-radius: 30px;
  border: none;
  padding: 0 15px 1px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  &:hover {
    background-color: rgba(255, 255, 255, 1);
    color: #000000;
  }
}